@import "../scss/_vars.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;

  @include desktop {
    width: 100%;
    flex-direction: column;
  }

  &__inner {
    display: flex;
    flex-direction: column;

    @include tablet-portrait {
      flex-direction: row;
      width: 20%;
      justify-content: space-between;
    }

    @include desktop {
      width: auto;
    }

    &--big {
      flex-direction: row;
      @include desktop {
        color: $medium-grey;
      }
    }
  }
}
.grey-color {
  color: $medium-grey;
}
.error {
  display: block;
  color: $main-red;
  margin-top: 50px;
  @include desktop {
    font-size: 24px;
  }
}